body {
    background-color: #F9F5EB;
}

hr{
    background-color: #F9F5EB;
    border-style: dotted none none;
    border-width: 8px;
    border-color: #E4DCCF;
    width:  40%;
}

h1{
    color: #002B5B;
}

h3{
    color: #EA5455;
}